api/*.csv
api/*.dat
api/*.iml
api/*.log
api/*.out
api/*.pid
api/*.seed
api/*.sublime-*
api/*.swo
api/*.swp
api/*.tgz
api/*.xml
api/.DS_Store
api/.idea
api/.project
api/.strong-pm
api/coverage
api/node_modules
api/npm-debug.log
api/storage/fs
